@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        position: relative;
        background-color: #3b3a42;
        animation-name: back;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
        background-image: url(images/OIF_DCLIC_COUVERTURE\ HOR.jpg);
        
    }
    body{
         backdrop-filter: blur(2px);
      }
      
    @keyframes back {
        0%{
            filter: hue-rotate(0deg);
        }
        100%{
            filter: hue-rotate(360deg);
        }
        
    }
    .Btn_add{
        width: fit-content;
        margin-bottom: 10px;
        background-color: #2bc48a;
        padding: 5px 20px;
        color: #fff;
        display: flex;
        align-items: center;
        text-align: 0;
        border-radius: 6px;
        text-decoration:0;
    }
    .btn_add{
        width: fit-content;
        margin-bottom: 10px;
        background-color: #ef0909;
        padding: 5px 20px;
        color: #fff;
        display: flex;
        align-items: center;
        text-align: 0;
        border-radius: 6px;
        text-decoration:0;
    }
    .bTn_add{
        width: fit-content;
        margin-bottom: 10px;
        background-color: #0924ef;
        padding: 5px 20px;
        color: #fff;
        display: flex;
        align-items: center;
        text-align: 0;
        border-radius: 6px;
        text-decoration:0;
    }
    .Btn_add img{
        margin-right: 5px;
        height: 20px;


    }

     table{
        margin-top: 10px;
        border-collapse: collapse;
        color: #404040;
    }
    th{
        font-size: 16px;
        border-bottom: 3px solid #2e4e5e;
        padding: 5px 20px;
        font-weight: 500px;
        margin-bottom: 10px;
    }
    td{
        font-weight: 400;
        padding: 5px 0px;
        font-size: 15px;
        text-align: center; 
    }
    tr:nth-child(2n){
       background-color: rgb(217, 237, 238); 

    }
    tr:nth-child(2n)td{
        border-bottom: 1px solid #f8fbff;
        border-top: 1px solid #dbe2ee;
    }
    .form{
        background-color: #f6f8f8;
        padding: 25px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        border-radius: 6px;
    }
    .form form{
        display: flex;
        width: 350px;
        flex-direction: column;
    }
    .back_btn{
        color: #2bc48a;
        text-decoration: 0;
        display: flex;
        align-items: center;

    }

    .back_btn img{
        height: 16px;
        margin-right: 5px;

    }
    h2{
        margin: 10px 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .erreur_message{
        color: red;
        font-size: 12px;

    }
    label {
          margin-top: 5px;
          text-transform: uppercase;
     }
    input{
        padding: 5px;
        border: 1px solid #999;
        outline: 0;
        margin-top: 2px;
        border-radius: 10px;
    }

    input:focus{
        border: 1px solid #f3bc0a;
    }
    input[type="submit"]{
        margin-top: 25px;
        background-color: #2bc48a;
        border: 1px solid #2bc48a;
        cursor: pointer;
     color: #121080;
     text-transform: uppercase;
        
    }
    form input {
        border-radius: 6px;
        margin-left: 0px;
        
    }
    form button{
        border-radius: 6px; 
        padding: 5px 10px;
        border: none ;
        background-color: #2bc48a;
        color: #fff;
        
    }

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    table {
        background-color: #f8f8f8;
        border-collapse: collapse;
      }
      
      th {
        background-color: #333;
        color: #fff;
      }
      
      td {
        background-color: #fff;
      }
      
      table {
        border: 1px solid #043cb66c;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
      
      th, td {
        border: 1px solid #ccc;
      }
      th {
        background-color: #333;
        color: #fff;
        text-align: left;
        padding: 10px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      table {
        transition: box-shadow 0.3s ease;
      }
      
      table:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
      }
      
      
      
             
